html {
    font-size: 50px;
}

body {
    margin: 0;
    font: 1.6rem/2rem sans-serif;
    display: flex;
    padding-top: 40vh;
}

div {
    margin: auto;
    position: relative;
    padding: 65px 160px;
}

div:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-top: 5px solid #bdbdbd;
    border-bottom: 5px solid #bdbdbd;
}

div:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 123%;
    right: 20px;
    transform: rotate(90deg);
    top: -31px;
    border-top: 7px solid #bdbdbd;
    border-bottom: 7px solid #bdbdbd;
}
