html {
    font-size: 50px;
}

body {
    margin: 0;
    font: 1.6rem/2rem sans-serif;
    display: flex;
    padding-top: 40vh;
}

div {
    margin: auto;
    position: relative;
}

div:before {
    content: '';
    position: absolute;
    width: 470px;
    height: 170px;
    left: -157px;
    top: -40px;
    border-top: 7px solid #bdbdbd;
    border-bottom: 7px solid #bdbdbd;
}

div:after {
    content: '';
    position: absolute;
    width: 408px;
    height: 274px;
    right: -116px;
    transform: rotate(90deg);
    top: -90px;
    border-top: 7px solid #bdbdbd;
    border-bottom: 7px solid #bdbdbd;
}
